<a href="https://colab.research.google.com/github/catprog-kspl/Agenda-symfony/blob/main/DataCleanHakatonBBVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas  as pd

In [ ]:
#Load baseDatosClientes
dataBaseClients = pd.read_csv("baseClientesHackaton2022.csv")

In [ ]:
#Load baseDatosUsuarios
dataBaseUsers = pd.read_csv("baseUsuarios.csv")

# Secci√≥n nueva

In [ ]:
#Verify the nulls values
dataClients =  dataBaseClients.isnull()
dataClients

,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100005,False,False,False,False,False,False,False,False,False,False,False,False,True
100006,False,False,False,False,False,False,False,False,False,False,False,False,True
100007,False,False,False,False,False,False,False,False,False,False,False,False,True
100008,False,False,False,False,False,False,False,False,False,False,False,False,True
100009,False,False,False,True,False,False,False,False,True,False,False,False,True

In [ ]:
#Verify the nulls values
dataClients =  dataBaseClients.isnull()
dataClients

,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100005,False,False,False,False,False,False,False,False,False,False,False,False,True
100006,False,False,False,False,False,False,False,False,False,False,False,False,True
100007,False,False,False,False,False,False,False,False,False,False,False,False,True
100008,False,False,False,False,False,False,False,False,False,False,False,False,True
100009,False,False,False,True,False,False,False,False,True,False,False,False,True

In [ ]:
#Replace the nulls values
dataBaseClientWithData = dataBaseClients.fillna(value="Campo sin informacion")
dataBaseClientWithData

,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email
0,BF000002999,Amelia,Rivero,Calva,25/04/54,Femenino,1.0,Mexicana,RICA2504540SQ,Licencia,RpiCnTz0mwMdQrUChFMs,BE12 7743 3050 0148 8965 5830,ameliarivero@outlook.com
1,BF000003000,Abril,Oca√±a,Almeda,23/10/88,Femenino,1.0,Mexicana,OAAA2310889RD,Licencia,eNZIQWroluPdimMBvLvR,BE73 6285 5537 7223 3693 3275,Campo sin informacion
2,CI000003001,Claudia Carolina,Molina,Almeda,12/07/50,Femenino,2.0,Mexicana,MOAC120750TTY,INE/IFE,iXfXzA34Qyg5sw3bJokt,BE25 4000 0249 9246 6992 2997,Campo sin informacion
3,BF000003002,Greta,Arteaga,Guarneros,08/06/78,Femenino,1.0,Mexicana,AEGG080678AML,Licencia,HnDPgVRPa5JvXEznW96w,BE80 3799 9650 0558 8489 9180,Campo sin informacion
4,BF000003003,Enzo,Olavarrieta,Arellanes,01/05/68,Masculino,1.0,Mexicana,OAAE010568SSG,Licencia,ZUwnG4twfafZiWGQLg3X,BE54 4277 7139 9933 3620 0901,Campo sin informacion
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100005,CI000103004,Dami√°n,Mart√≠nez,Calva,28/10/69,Masculino,2.0,Mexicana,MACD281069W5K,INE/IFE,MJ5kVSvRU2agDi31Bu7j,BE17 4455 5073 3301 1686 6984,Campo sin informacion
100006,CI000103005,Igor Mario,Mohamed,Castro,01/02/94,Masculino,2.0,Mexicana,MOCI010294FZO,INE/IFE,lcjNWgImJmeuZev5C01K,BE32 6968 8317 7406 6638 8507,Campo sin informacion
100007,BF000103006,Giovanni,Flores,Ram√≠rez,14/03/69,Masculino,1.0,Mexicana,FORG140369D4J,Licencia,DZOVoLJcryiid8G6S7T2,BE06 5785 5615 5425 5794 4809,Campo sin informacion
100008,BF000103007,Gabriel,Barrag√°n,Decanini,17/07/95,Masculino,1.0,Mexicana,BADG170795DW5,Licencia,SUXguQkFFRqHeHHUD6z2,BE63 7627 7411 1024 4855 5503,Campo sin informacion
100009,AB000103008,Axel Jorge,Arias,Campo sin informacion,16/07/87,Masculino,0.0,Extranjera,Campo sin informacion,Pasaporte,Pq8ll9qMI3TCX0RLnQuN,BE73 9827 7237 7713 3288 8172,Campo sin informacion

In [ ]:
sumaNulos = dataBaseClientWithData.isnull().sum()
sumaNulos

idCliente          0
nombre             0
apellidoPaterno    0
apellidoMaterno    0
fechaNacimiento    0
sexo               0
segmento           0
nacionalidad       0
rfc                0
tipoID             0
numeroID           0
cuenta             0
email              0
dtype: int64

In [ ]:
#Create csv
dataClients.to_csv("baseDatos.csv")

In [ ]:
SumaNulosUsuarios = baseDatosUsuarios.isnull().sum()
SumaNulosUsuarios

usuario           0
auth              0
nombreCompleto    0
area              0
ubicacion         0
segmento          0
perfil            0
dtype: int64

In [ ]:
sumaDuplicados = dataClients.isnull().sum()
sumaDuplicados

idCliente          0
nombre             0
apellidoPaterno    0
apellidoMaterno    0
fechaNacimiento    0
sexo               0
segmento           0
nacionalidad       0
rfc                0
tipoID             0
numeroID           0
cuenta             0
email              0
dtype: int64

In [ ]:
dataBaseUsers.to_csv("dataBaseUsuarios.csv")